<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-md-6">
            <a href="#" class="category-image position-relative text-decoration-none"  style="background-image: url(/images/pictures2.png);">
                <span class="d-flex justify-content-center align-items-end h-100">
                    <span class="category-name btn btn-white font-weight-bold">Природа</span>
                </span>
            </a>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0">
            <a href="#" class="category-image position-relative text-decoration-none"  style="background-image: url(/images/pictures2.png);">
                <span class="d-flex justify-content-center align-items-end h-100">
                    <span class="category-name btn btn-white font-weight-bold">Мода</span>
                </span>
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <a href="#" class="category-image position-relative text-decoration-none"  style="background-image: url(/images/pictures2.png);">
                <span class="d-flex justify-content-center align-items-end h-100">
                    <span class="category-name btn btn-white font-weight-bold">Постеры & Принты</span>
                </span>
            </a>
        </div>
    </div>
</div>