<div class="shop-item">
    <div class="item-image border-0" style="background-image: url(/images/pictures2.png);"></div>
    <div class="d-flex flex-column">
        <div class="d-flex align-items-center justify-content-between">
            <a href="#" class="item-title mt-2 mb-1">Горы в Каноях</a>
            <div class="badge badge-secondary text-white rounded-0">-30%</div>
        </div>
        <div class="position-relative">
            <a href="#" class="custom-selector py-2 px-3 w-100 d-flex justify-content-between" type="button" id="dropdownFilterColors" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="text-blue">Размер: <span class="text-dark">50x70 см</span></span>
                <span class="icon">
                    <svg>
                        <use xlink:href="#img-arrow-down" fill="transparent"></use>
                    </svg>
                </span>
            </a>
            <div class="dropdown-menu w-100 p-3" aria-labelledby="dropdownFilterColors">
                <div class="from-group">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <input type="checkbox" class="from-control">
                            <span class="ml-2">44x35 СМ</span>
                        </div>
                        <div>500 ₽</div>
                    </div>
                </div>
                <div class="from-group">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <input type="checkbox" class="from-control">
                            <span class="ml-2">44x35 СМ</span>
                        </div>
                        <div>300 ₽</div>
                    </div>
                </div>
                <div class="from-group">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <input type="checkbox" class="from-control">
                            <span class="ml-2">44x35 СМ</span>
                        </div>
                        <div>200 ₽</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center mt-2">
            <div class="btn btn-dark d-flex align-items-center justify-content-center w-100 rounded-0">
                <span class="price">200 ₽ </span>
                <span class="buy-word d-flex align-items-center">Купить</span>
            </div>
            <a href="#" class="border-dark btn-heart">
                <span class="icon">
                    <svg>
                        <use xlink:href="#img-heart" fill="transparent"></use>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</div>