<% var data = {
    title: "Горы в каноях - купить картину",
    author: "Erriour (Vladimir Gonchar)",
    pagename: "item"
}; %>
<%= _.template(require('./../layouts/header.html').default)(data) %>

<div class="container my-4">
    <div class="row pt-3">
        <div class="col-12 col-md-6 col-xl-5">
            <div class="row galery">
                <div class="col-12 col-sm-4">
                    <div class="item-image mini-image" style="background-image: url(/images/pictures2.png);"></div>
                    <div class="item-image mini-image mt-3" style="background-image: url(/images/pictures2.png);"></div>
                    <div class="item-image mini-image mt-3" style="background-image: url(/images/pictures2.png);"></div>
                </div>
                <div class="col-12 col-sm-8 mt-3 mt-sm-0">
                    <div class="item-image big-image" style="background-image: url(/images/pictures2.png);"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-7 mt-4 mt-md-0">
            <div class="d-flex align-items-center justify-content-between">
                <h1 class="h3">Горы в каноях <span class="badge badge-secondary text-white rounded-0">-30%</span></h1>
                <div class="d-flex d-lg-none align-items-center justify-content-end">
                    <div class="icon">
                        <svg viewBox="0 0 24 24">
                            <use xlink:href="#img-heart" fill="transparent"></use>
                        </svg>
                    </div>
                    <div class="icon icon-mini ml-2">
                        <svg>
                            <use xlink:href="#img-rule" fill="transparent"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-lg-6"><a href="#" class="btn btn-secondary w-100 rounded-0">Добавить в корзину</a></div>
                <div class="col-12 mt-3 mt-lg-0 col-lg-6 pl-lg-0"><a href="#" class="btn btn-dark text-white w-100 rounded-0">Купить сейчас</a></div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                    <div class="position-relative">
                        <a href="#" class="custom-selector py-2 px-3 w-100 d-flex justify-content-between" type="button" id="dropdownFilterColors" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-blue">Размер: <span class="text-dark">50x70 см</span></span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="#img-arrow-down" fill="transparent"></use>
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu w-100 p-3" aria-labelledby="dropdownFilterColors">
                            <div class="from-group">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" class="from-control">
                                        <span class="ml-2">44x35 СМ</span>
                                    </div>
                                    <div>500 ₽</div>
                                </div>
                            </div>
                            <div class="from-group">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" class="from-control">
                                        <span class="ml-2">44x35 СМ</span>
                                    </div>
                                    <div>300 ₽</div>
                                </div>
                            </div>
                            <div class="from-group">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" class="from-control">
                                        <span class="ml-2">44x35 СМ</span>
                                    </div>
                                    <div>200 ₽</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-12 mt-3 mt-sm-0 mt-md-3 mt-lg-0 col-lg-3 pl-3 pl-sm-0 pl-md-3 pl-lg-0">
                    <div class="custom-selector py-2 px-3">1204.54 ₽</div>
                </div>
                <div class="col-0 col-lg-3">
                    <div class="d-none d-lg-flex align-items-center justify-content-end">
                        <div class="icon">
                            <svg viewBox="0 0 24 24">
                                <use xlink:href="#img-heart" fill="transparent"></use>
                            </svg>
                        </div>
                        <div class="icon icon-mini ml-2">
                            <svg>
                                <use xlink:href="#img-rule" fill="transparent"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    Soothing poster of reed grass in close range. The wind is blowing peacefully through the tiny leaves and the earthy colours gives a calming and harmonious feeling. The poster is printed with top quality inks on beautiful 240g gallery paper with matte finish. The result is a stunning print with unrivaled quality and image reproduction, that will stand the.
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="d-flex align-items-center mr-4 mt-3">
                            <div class="icon icon-bordered background-light-blue">
                                <svg>
                                    <use xlink:href="#img-champ" fill="transparent"></use>
                                </svg>
                            </div>
                            <div class="ml-2">Доставка в течении 3-5 дней</div>
                        </div>    
                        <div class="d-flex align-items-center mt-3">
                            <div class="icon icon-bordered background-light-blue">
                                <svg>
                                    <use xlink:href="#img-move" fill="transparent"></use>
                                </svg>
                            </div>
                            <div class="ml-2">Бесплатная доставка по России</div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% var data = {
    title: "Другие картины"
}; %>
<%= _.template(require('./../components/previosly.html').default)(data) %>

<%= _.template(require('./../components/categories.html').default)(data) %>

<% var data = {
    title: "Последние просмотренные"
}; %>
<%= _.template(require('./../components/previosly.html').default)(data) %>

<%= _.template(require('./../layouts/footer.html').default)(data) %>