</div>

<footer class="mt-4">
  <div class="background-light-blue py-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="title">Для клиентов</div>
          <ul class="menu">
            <li><a href="#">Связь с нами</a></li>
            <li><a href="#">Вопрос & ответ</a></li>
            <li><a href="#">Правила использования</a></li>
            <li><a href="#">Доставка</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mt-3 mt-sm-0">
          <div class="title">Магазин</div>
          <ul class="menu">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Реклама и пресса</a></li>
            <li><a href="#">Постеры</a></li>
            <li><a href="#">Настенные картины</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
          <div class="title">Подписка на рассылку</div>
          <div class="mt-1">Получай быстрые сообщения о скидках и горячих предложениях.</div>
          <form class="form-footer mt-3">
            <div class="form-group mb-0 d-flex align-items-center">
                <input type="text" placeholder="Введите Вашу почту..." class="form-control form-control-icon-right">
                <span class="icon">
                    <svg>
                        <use xlink:href="#img-airplane" fill="transparent"></use>
                    </svg>
                </span>
            </div>
          </form>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
          <div class="title">Подарочная карта</div>
          <div class="mt-1">Подари своему другу или девушке настоящий подарок!</div>
          <a href="#" class="mt-3 btn btn-secondary d-inline-flex align-items-center justify-content-center btn-footer">
            <span class="icon">
              <svg>
                  <use xlink:href="#img-gift" fill="transparent"></use>
              </svg>
            </span>
            <span class="ml-2 text-uppercase font-weight-light">Приобрести</span>
          </a>
        </div>
      </div>
    </div>
    <div class="container d-none d-sm-block">
      <div class="row">
        <div class="col-12">
          <div class="d-flex flex-wrap align-items-center justify-content-center mt-4 mb-2">
            <span class="payment visa">
                <svg>
                    <use xlink:href="#img-payment-visa" fill="transparent"></use>
                </svg>
            </span>
            <span class="payment mastercard">
                <svg>
                    <use xlink:href="#img-payment-mastercard" fill="transparent"></use>
                </svg>
            </span>
            <span class="payment maestro">
                <svg>
                    <use xlink:href="#img-payment-maestro" fill="transparent"></use>
                </svg>
            </span>
            <span class="payment mir">
                <svg>
                    <use xlink:href="#img-payment-mir" fill="transparent"></use>
                </svg>
            </span>
            <span class="payment jcb">
                <svg>
                    <use xlink:href="#img-payment-jcb" fill="transparent"></use>
                </svg>
            </span>
            <span class="payment apple">
                <svg>
                    <use xlink:href="#img-payment-apple" fill="transparent"></use>
                </svg>
            </span>
            <span class="payment google">
                <svg>
                    <use xlink:href="#img-payment-google" fill="transparent"></use>
                </svg>
            </span>
            <span class="payment qiwi">
                <svg>
                    <use xlink:href="#img-payment-qiwi" fill="transparent"></use>
                </svg>
            </span>
            <span class="payment yandex">
                <svg>
                    <use xlink:href="#img-payment-yandex" fill="transparent"></use>
                </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background-blue py-2 text-center text-blue">
    <div class="my-1">
      Poster Store © 2020 • Privacy Policy & Cookies
    </div>
  </div>
</footer>

</body>
</html>